<header>
  <div class="inner">
    <div class="head-container">
      <div class="head-brand">
        <img src="/logo.png" alt="logo" />
        <a href="#">(주)에쓰오비</a>
      </div>
      <nav class="main-nav">
        <ul class="main-menu">
          <li class="head-items">
            <a href="/main">홈</a>
          </li>
          <li class="head-items">
            <a href="/chat">채팅</a>
          </li>
          <li class="head-items">
            <a href="/meeting">회의</a>
          </li>
        </ul>
        <form action="/logout" method="POST" class="head-items">
          <button>로그아웃</button>
        </form>
      </nav>
      <div class="head-time">
        <i class="fa-regular fa-clock"></i>
        <span id="clock"></span>
      </div>
    </div>
  </div>
</header>
